<h1><%= @drug.name %></h1>
<h2><%= @drug.dosage %> mg</h2>
<h3><%= @drug.purpose %></h3>

Are you sure you want to delete this drug?<br>
<a href="/drugs/<%= @drug.id %>/delete">Yes, delete drug</a> | <a href="/drugs/<%= @drug.id %>">No, nevermind</a>
