	<h1>Update <%= @drug.name %></h1>

	<form action="/drugs/<%= @drug.id %>" method="POST">
	<input type="hidden" name="_method" value="PATCH">
		<label>Dosage:</label>
		<input type="text" name="drug[dosage]" id="drug_dosage" value="<%= @drug.dosage %>">
			<br>
			<br>
		<label>Purpose of the Drug:</label><br>
		<textarea type="text" name="drug[purpose]" value="<%= @drug.purpose %>"><%= @drug.purpose %></textarea>
			<br>
			<br>
		<!--<p>Select all the side-effects you have experienced, or create a new one below.</p>
	
		<h3>Common Side Effects</h3>
		<% Drug.all.each do |drug| %>
		 <input type="checkbox" name="drug[side_effect][]" id="drug_side_effect" value="<%= drug.side_effect %>"><%= drug.side_effect %></input><br>
		<% end %>
		<br>
	
		<h3>New Side-Effect</h3>
		<label>Side-Effect Description: </label>
		<input type="text" name="drug[side_effect][]" id="drug_side_effect"></input>
		<br><br> -->
		<input type="submit" value="Update Drug">
	</form>