<h1><%= @drug.name %></h1>
<h2><%= @drug.dosage %> mg</h2>
<h3><%= @drug.purpose %></h3>

<a href="/drugs/<%= @drug.id %>/edit">Edit Information</a> | <a href="/drugs/<%= @drug.id %>/confirm-delete">Delete Drug</a>
