<h1><%= @note.topic %></h1>
<%= markdown(@note.content) %>

<% if has_note_access? %>
<button onclick="window.location.href = '/notes/<%= @note.id %>/edit';">Edit</button>

<form action="/notes/<%= @note.id %>" method="post">
	<input id="hidden" type="hidden" name="_method" value="DELETE">
	<input type="submit" name="" value="Delete">
</form>

<% else %>
<form action="/notes/copy/<%= @note.id %>" method="post">
	<input type="submit" name="" value="Copy">
</form>

<% end %>


<!-- <% if @confirm_delete %>
<div id="confirm-delete" style="border: 2px solid red;">
Are you sure you want to delete this note?<br>
<a href="/notes/<%= @note.id %>/delete">Yes, delete note</a> | <a href="/notes/<%= @note.id %>">No, nevermind</a>
<% end %> -->
<!-- ADD CONFIRM-DELETE? -->