<% if @success_message != nil %>
	<div id="success" style="border: 2px solid green;">
		<h3> Your account has been created successfully! </h3>
<% end %>	
	</div>

<h1>Profile for <%= @user.name %></h1>
<p><emphasis><%= @user.profile %></emphasis></p>

<% unless @notes.public.empty? %>
<h2>Public Notes:</h3>
<ul style="list-style-type:none;">
	<% @notes.public.each do |note| %>
		<li><button onclick="window.location.href = '/notes/<%= note.id %>';"><%= note.topic %></button></a>
	<% end %>
</ul>
<% end %>

<% unless @notes.private.empty? %>
<h2>Private Notes:</h3>
<ul style="list-style-type:none;">
	<% @notes.private.each do |note| %>
		<li><button onclick="window.location.href = '/notes/<%= note.id %>';"><%= note.topic %></button></a>
	<% end %>
</ul>
<% end %>

<% if has_user_access? %><a href="/users/<%= @user.id%>/edit">Edit Profile</a><% end %>

<!-- ADD COPIED VS AUTHORED NOTES, PENDING NOTE PULLS -->