<h1>Profile for <%= @user.name %></h1>
<p><emphasis><%= @user.profile %></emphasis></p>
<h2>Authored Notes:</h3>
<ul style="list-style-type:none;">
	<% @notes.each do |note| %>
		<li><button onclick="window.location.href = '/notes/<%= note.id %>';"><%= note.topic %></button></a>
	<% end %>
</ul>
<% if has_user_access? %><a href="/users/<%= @user.id%>/edit">Edit Profile</a><% end %>